* {
    --space-cadet: #1f2041ff;
    --english-violet: #4b3f72ff;
    --sunglow: #ffc857ff;
    --dark-cyan: #119da4ff;
    --paynes-gray: #19647eff;
    --deep-black: #0D0E1Cff;

    --paynes-gray: #19647eff;
    --powder-blue: #a1c6eaff;
    --asparagus: #69995dff;
    --tan: #cbac88ff;
    --lavender-blush: #f8e9e9ff;
    --warm-white: #F9F5F1ff;
    --light-tan:#E0CCB8ff;
}

@font-face {
    font-family: 'Mona Sans';
    src:
        url('/static/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
        url('/static/fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Noto Serif';
    src:
        url('/static/fonts/Noto-Serif/NotoSerif-Variable.ttf');
}

html {
    border-top: .5rem solid var(--paynes-gray);
}

body {
    background-color: var(--warm-white);
    color: var(--deep-black);
    font-family: 'Mona Sans';
    font-weight: 500;
    font-stretch: 100%;
    margin-left:8px;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
    min-height:100vh;
    margin-top: 0;
    background-position:center;
    background-size:cover;
}

h1 {
    font-family:'Noto Serif'
}

header {
    margin-top: 8px;
}

#content {
    flex:1;
    position:relative;
}

a {
    color: var(--deep-black);
}

#homeSearch {
    text-align: center;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:1rem;
    border-radius: .5rem;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

#searchForm{
    padding-top:.5rem;
}


#homeSearch img {
    max-width:100%;
}

@media (min-width:900px) {
    #homeSearch {
        width: 50%;
    }
}

#homeSearch .homeSearchBox,
header .headSearchBox {
    width: 100%;
}

#homeSearch div,
header div {
    display: flex;
    margin-bottom: 0.25rem;
    width: 100%;
}

header a {
    font-family: 'Noto Serif';
}


#tagAuto {
    background-color: #000000aa;
    color:var(--warm-white);
    position: absolute;
    margin:0;
    border-radius: .2rem;
}

#tagAuto ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    text-align: left;
    width:100%;
}

#tagAuto li {
    width:100%;
    cursor:pointer;
    padding-left:.25rem;
    box-sizing: border-box;
    transition:0.2s;
}

#tagAuto li:hover {
    background-color: #000000bb;
}

#tagsContainer {
    display: inline-block !important;
    position: relative;
}

label {
    white-space: nowrap;
    margin-right: 1rem;
}

input {
    background-color: #00000000;
    border: .15rem solid var(--paynes-gray);
    color: var(--deep-black);
    font-family: 'Mona Sans';
    font-weight: 500;
    font-stretch: 100%;
}

#homeSearch input[type=text],
#homeSearch input[type=number],
#submitForm input[type=text],
#submitForm input[type=number] {
    padding: .25rem;
    width: 100%;
    box-sizing: border-box;
}

input[type=submit],
button{
    padding: .5rem;
    background-color: var(--paynes-gray);
    border:none;
    color: var(--warm-white);
    font-family: 'Mona Sans';
    cursor:pointer;
    transition:0.3s;
}

input[type=submit]:hover,
button:hover{
    background-color: var(--dark-cyan);
}

input, button{
    border-radius:.2rem;
}

#homeSearch button {
    margin-left:.5rem;
}


#submitForm div {
    display: flex;
    margin-bottom: 0.25rem;
    width: 90%;
}

#headerLogo {
    height: 5rem;
}

@media (max-width:600px){
    #headerNewHunt{
        display: none;
    }
}

@media (max-width:350px) {
    #headerSubmit{
        display: none;
    }
}

header {
    align-items: center;
    width: 100%;
    display:flex;
}

header ul {
    list-style: none;
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-align: right;
    margin-left: auto;
}

header li {
    margin-left: .5rem;
}

#footerLogo {
    height:3rem;
    vertical-align: middle;
    margin-left:.25rem;
}

footer {
    text-align: center;
    background-color: var(--light-tan);
    width:100vw;
    margin-left:-8px;
    padding-top:0.5rem;
    border-top: .5rem solid var(--paynes-gray);
}

#footerLinks ul{
    list-style: none;
    display: flex;
    padding: 0;
}

#footerLinks li{
    margin-left:.5rem;
}

#footerLinks {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tagCard {
    margin-right:.5rem;
    padding: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: var(--paynes-gray);
    color:var(--warm-white);
    border-radius: .85rem;
    font-size: 1rem;
    display: inline-block;
}

.restaurant {
    margin-left:-8px;
    width:100vw;
    padding-left:8px;
    padding-bottom:1rem;
    padding-top:1rem;
}

.restaurant h3 {
    margin-top:0;
    margin-bottom:.5rem;
    font-family:'Noto Serif';
    font-size:1.5rem;
}

.dark {
    background-color: var(--light-tan);
}

#getLocationButton {
    white-space: nowrap;
    text-align: center; 
}

#tagsContainer {
    width:100% !important;
}

#imageCredits p{
    display:inline-block;
    margin:0;
}

#imageCredits {
    width:fit-content;
    background-color: var(--warm-white);
    padding:.25rem;
    position:absolute;
    right:-8px;
    bottom:0;
}

.lightText{
    color:var(--warm-white);
}