{% extends 'base.html' %}{% block content %}
<h1>About <i>JJARQK</i> Technologies</h1>
<p><i>JJARQK</i> started simply as an idea between 6 friends. Throughout America, fast food has become a plague on the public's health. <i>JJARQK</i> wanted to create a solution.</p>
<h2>The Creation of <i>JJARQK</i> Hunt</h2>
<p>In order to reduce fast food consumption, <i>JJARQK</i> created <i>JJARQK</i> Hunt, a database of user submitted restaurants within the $15 per person price range. Currently, <i>JJARQK</i> Hunt is completely non-profit, all costs coming out of pocket. Also, <i>JJARQK</i> belives the privacy of its users is of utmost importance, so, we promise to never include advertizing in <i>JJARQK</i> Hunt.</p>
<h2>Members</h2>
<ul>
    <li>Juan-Pablo Luna</li>
    <li>Jessica Korn</li>
    <li>Anthony Wheeler</li>
    <li>Romina Revilla</li>
    <li>Quinn Schell</li>
    <li>Kenneth Lee</li>
</ul>
{% endblock content %}