{% extends 'base.html' %}{% block content %}
<h1>About <i>JJARQK</i> Technologies</h1>
<p><i>JJARQK</i> started simply as an idea between 6 friends. Throughout America, fast food has become a plague on the public's health. <i>JJARQK</i> wanted to create a solution.</p>
<h2>The Problem</h2>
<p>Fast food, despite its potential health effects <a href="https://doi.org/10.1177/1559827618766483">[1]</a>, is a common occurrence throughout America. According to the CDC, over one third of Americans eat fast food on a given day <a href="https://www.cdc.gov/nchs/products/databriefs/db322.htm">[2]</a>. This is partially due to the high amount of fast food restaurants found throughout the country. One study <a href="https://doi.org/10.1038/s41467-024-46425-2">[3]</a> has shown that simply being exposed to fast food increases the likelihood of a person eating it. With inflation on the rise <a href="https://www.bls.gov/news.release/cpi.nr0.htm">[4]</a>, fast food restaurants have increased their prices and are no longer the cheap option that they once were.</p>
<h2>The Creation of <i>JJARQK</i> Hunt</h2>
<p>In order to reduce fast food consumption, <i>JJARQK</i> created <i>JJARQK</i> Hunt, a database of user submitted restaurants within the $15 per person price range. Currently, <i>JJARQK</i> Hunt is completely non-profit, all costs coming out of pocket. Also, <i>JJARQK</i> belives the privacy of its users is of utmost importance, so, we promise to never include advertising in <i>JJARQK</i> Hunt.</p>
<h2>Restaurant Vetting</h2>
<p><i>JJARQK</i> firmly believes that Hunt results should be as unbiased as possible, providing users with the information they need to make an informed choice about their eating habits. This is why all restaurants are vetted by human moderators before being added to the Hunt database. Moderators focus on two criteria that all restaurants must reach in order to be added to Hunt. First, moderators review a menu of the restaurant to ensure that it offers entrées within $15. Second, moderators make a judgement on the restaurant's health. The health review process is highly superficial, mainly ensuring the restaurant serves options other than "fast food", such as burgers, fries, or hot dogs.</p>
<h2>Members</h2>
<ul>
    <li>Jessica Korn</li>
    <li>Juan-Pablo Luna</li>
    <li>Anthony Wheeler</li>
    <li>Romina Revilla</li>
    <li>Quinn Schell</li>
    <li>Kenneth Lee</li>
</ul>
{% endblock content %}