<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="JJARQK Hunt, a simple way to find alternatives to fast food.">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#19647e">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#19647e">
    {% if title %}
    <title>{{ title }} - JJARQK Hunt</title>
    {% else %}
    <title>JJARQK Hunt</title>
    {% endif %}
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <a href="/"><img src="/static/jjarqkHunt.svg" id="headerLogo" alt="JJARQK Hunt Logo"/></a>
      <ul>
        <li><a href="/" id="headerNewHunt">New Hunt</a></li>
        <li><a href="/submit" id="headerSubmit">Submit a Restaurant</a></li>
      </ul>
    </header>
    <div id="content">
    {% block content %}{% endblock content %}
    </div>
    <footer>
      <div id="credits">
        <span>Made with ❤️ by </span><img src="/static/jjarqk.svg" id="footerLogo" alt="JJARQK Technologies">
      </div>
      <div id="footerLinks">
        <ul>
          <li><a href="/">New Hunt</a></li>
          <li><a href="/submit">Submit a Restaurant</a></li>
          <li><a href="/about">About JJARQK</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
