<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="JJARQK Hunt, a simple way to find alternatives to fast food.">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#19647e">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>JJARQK Hunt</title>
    <script>
      var tagList = {{availTags|tojson}}
    </script>
    <script src="/static/scripts/autocomplete.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{gmapsFrontend}}&loading=async&libraries=places&callback=initAutocomplete"></script>
  </head>
  <link rel="stylesheet" href="/static/style.css" />
  <body>
    <div id="content">
    <div id="homeSearch">
      <img src="/static/jjarqkHunt.svg" alt="JJARQK Hunt Logo" /> <br>
      <span>Hunt Healthier. Hunt Happier.</span>
      <form id="searchForm" autocomplete="off">
        <div>
          <label for="addr">Location*</label>
          <input
            class="homeSearchBox"
            type="text"
            name="addr"
            id="addr"
            placeholder="Enter a Location. Address, City, Coordinates, etc."
            required
          />
        </div>
        <div>
          <label for="dist">Range, miles*</label>
          <input
            class="homeSearchBox"
            type="number"
            name="dist"
            id="dist"
            min="0"
            placeholder="5"
            required
          />
        </div>
        <div>
          <label for="tags">Tags seperated by commas</label>
          <div id="tagsContainer">
            <input
              class="homeSearchBox"
              type="text"
              name="tags"
              id="tags"
              placeholder="american, burgers"
              onkeyup="tagAutocomplete(this.value)"
            />
            <div id="tagAuto"></div>
          </div>
        </div>

        <input type="submit" value="Hunt!" />
      </form>
    </div>
    </div>
    <footer>
      <div id="credits">
        <span>Made with ❤️ by </span><img src="/static/jjarqk.svg" id="footerLogo" alt="JJARQK Technologies">
      </div>
      <div id="footerLinks">
        <ul>
          <li><a href="/">New Hunt</a></li>
          <li><a href="/submit">Submit a Restaurant</a></li>
          <li><a href="/about">About JJARQK</a></li>
        </ul>
      </div>
    </footer>
    <script>
      document.getElementById("searchForm").addEventListener("submit", (e) => {
        e.preventDefault();
        window.location.href =
          "/search?addr=" +
          encodeURIComponent(document.getElementById("addr").value) +
          "&dist=" +
          encodeURIComponent(document.getElementById("dist").value) +
          "&tags=" +
          encodeURIComponent(document.getElementById("tags").value);
      });
    </script>
  </body>
</html>
