{% extends "base.html" %} {% block content%}
<h1>Terms of Service</h1>
<p>This is an agreement between the user ("you") and <i>JJARQK</i> ("us", "we") regarding the use of <i>JJARQK</i> Hunt ("Hunt", "the product", "the service"). Please read it carefully.</p>
<p>By using <i>JJARQK</i> Hunt, you agree that you will not attempt to damage, modify, or otherwise tamper with the service. You also agree that you will not attempt to carry out any denial of service attacks on the service. You also agree that you are liable for your use of the service and any legal consequences for your use. By submitting restaurants to <i>JJARQK</i> Hunt, you also agree that you are the sole copyright holder of your submission, and that you will not receive any compensation for your submission. After submission, you give <i>JJARQK</i> an irrevokable, perpetual license to use your submission for any purpose. <i>JJARQK</i> reserves the right to refuse service to anyone for any reason. <i>JJARQK</i> may change these terms at any time without notice.</p>
<p>BY USING <i>JJARQK</i> HUNT, YOU AGREE THAT IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY.</p>
<p><i>JJARQK</i> MAKES NO CLAIMS ABOUT THE RESTAURANTS LISTED IN HUNT. NO GUARENTEE IS MADE REGARDING THE ACCURACY OF ANY INFORMATION PROVIDED. <i>JJARQK</i> IS NOT LIABLE FOR ANY DAMAGES CAUSED BY USE OF HUNT.</p>
<h2>Privacy</h2>
<p>By using <i>JJARQK</i> Hunt, you agree to allow <i>JJARQK</i> to collect the following information about you and your use of the service:</p>
<ul>
<li>IP Address</li>
<li>Current Location</li>
<li>Search Parameters (Address, Tags, Range)</li>
<li>Submission Information (Restaurant Name, Description, Address, Tags, Website)</li>
</ul>
<h2>Acknowledgements</h2>
<p><i>JJARQK</i> Hunt is available on <a href="https://github.com/Tonnieboy300/jjarqkhunt">GitHub</a> under the <a href="https://github.com/Tonnieboy300/jjarqkhunt/blob/main/LICENSE">MIT License</a>.</p>
<p><i>JJARQK</i> Hunt is made with several open source libraries. A list of these libraries can be found <a href="https://github.com/Tonnieboy300/jjarqkhunt/network/dependencies">here</a>.</p>
{% endblock content %}