{% extends "base.html" %} {% block content%}
<h1>Terms of Service</h1>
<p>By using JJARQK Hunt, you agree that you will not attempt to damage, modify, or otherwise tamper with the service. You also agree that you will not attempt to carry out any denial of service attacks on the service. You also agree that you are liable for your use of the service and any legal consequences for your use. By submitting restaurants to JJARQK Hunt, you also agree that you are the sole copyright holder of your submission, and that you will not receive any compensation for your submission. After submission, you give JJARQK an irrevokable, perpetual license to use your submission for any purpose. JJARQK reserves the right to refuse service to anyone for any reason. JJARQK may change these terms at any time without notice.</p>
<p>BY USING JJARQK HUNT, YOU AGREE THAT IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY.</p>
<h2>Privacy</h2>
<p>By using JJARQK Hunt, you agree to allow JJARQK to collect the following information about you and your use of the service:</p>
<ul>
<li>IP Address</li>
<li>Current Location</li>
<li>Search Parameters (Address, Tags, Range)</li>
<li>Submission Information (Restaurant Name, Description, Address, Tags, Website)</li>
</ul>
<h2>Acknowledgements</h2>
<p>JJARQK Hunt is available on <a href="https://github.com/Tonnieboy300/jjarqkhunt">GitHub</a> under the <a href="https://github.com/Tonnieboy300/jjarqkhunt/blob/main/LICENSE">MIT License</a>.</p>
<p>JJARQK Hunt is made with several open source libraries. A list of these libraries can be found <a href="https://github.com/Tonnieboy300/jjarqkhunt/network/dependencies">here</a>.</p>
{% endblock content %}